/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    line-height: 2;
    background: url(https://images.unsplash.com/photo-1632961965821-999763254f10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3027&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    width: 7em;
    border-radius: 50%;
    height: 7em;
}
#cover-pic {
    background-image: url("images/cover1.gif");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: #fff;
    text-shadow: 0 0 1px black;
    margin: 0;
}
.title {
    opacity: 0.8;
    border-radius: 10px;
    padding: 9px 14px;
    margin: 0;
    /* font-size: 2em; */
    background-color: #0d2149;
}
.subtitle {
    border-radius: 10px;
    width: 500px;
    padding: 5px 10px;
    margin: 0;
}
/* #activity {
    margin: 0;
    padding-top: 1em;
} */
.activity-title {
    color: #0d2149;
    color: white;
    padding: 3em;
}
@media screen and (max-width: 600px) {
    .activity-title {
        padding: 2em;
    }
    body {
        line-height: 1.5;
    }
}
.activityName {
    width: 500px;
    margin: 2em;
}
#activity-list {
    display: flex;
    flex-direction: row;
}
#guide {
    /* margin: 2em auto; */
    box-shadow: 6px 6px 6px #1d3557;
    /* border-radius: 10px; */
    display: flex;
    background: #0d2149ad;
}
#cover-img {
    width: 200px;
    margin: 1em;
    border-radius: 10px;
    height: auto;
}
